/* ------ LEFT SIDE ------ */
.left {
    width: 400px;
    height: 100%;
}

.profile {
    width: 100%;
    height: 60px;
    background: #eeeeee;
    border-right: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
}

    .profile img {
        width: 40px;
        height: 40px;
        margin: 10px;
        border-radius: 50%;
    }

.icons {
    color: #777777;
    display: flex;
}

.wrap-search {
    width: 100%;
    background: #fbfbfb;
    display: flex;
}

.search {
    padding: 0 10px;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    height: 52px;
    position: relative;
}


    .search i, .wrap-message i {
        color: #aaaaaa;
        text-align: center;
    }

.input-search {
    width: 100%;
    border: none;
}

    .input-search:focus {
        outline: none;
    }

.contact-list {
    background-color: #ffffff;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

.contact, .active-contact, .new-message-contact {
    height: 70px;
    background-color: #ffffff;
    display: flex;
}

    .contact img, .active-contact img, .new-message-contact img {
        width: 50px;
        height: 50px;
        margin: 10px;
        border-radius: 50%;
    }

.active-contact {
    background-color: #ebebeb;
}

.contact:hover, .new-message-contact:hover {
    background-color: #f5f5f5;
}

.new-message-contact {
    font-weight: bold;
}

.contact-preview {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    overflow: hidden;
}

.contact-text {
    height: 40px;
    margin: auto 0;
    overflow: hidden;
}

.contact-time {
    width: 55px;
    color: rgba(0,0,0,0.4);
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}

.new-message {
    background: #09d261;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    margin: auto;
    flex-direction: column;
    color: white;
}

    .new-message p {
        margin: auto;
    }
